<div id="fathercont">
    <div id="nav">
      <div id="navdiv">
        <div style="margin-top: 5%;" onclick="window.location.href='home.html'">
          <img src="https://www.expedia.co.in/_dms/header/logo.svg?locale=en_GB&siteid=27&2"alt="">
  
        </div>
       
  
        <div class="dropdown">
          <button  style="color: black;" class="drop" >More Travel  <span class="material-icons">
            expand_more
            </span></button>
            <div class="dropdownB">
              <div id="dropone">
                <div id="spandiv"><span class="material-icons">
                  apartment</span></div>
                <div><a onclick="window.location.href='stays.html'"> Stay </a></div>
              </div>
  
  
  
              <div id="droptwo">
                <div id="spandiv"><span class="material-icons">
                  flight
                  </span></div>
                <div><a onclick="window.location.href='flights.html'"> Flight </a></div>
              </div>
  
  
              <div id="dropthree">
                <div id="spandiv"> <span class="material-icons">
                  directions_car
                  </span></div>
                <div><a onclick="window.location.href='cars.html'"> Cars </a></div>
              </div>
  
  
  
              <div id="dropfour">
                <div id="spandiv"><span class="material-icons">
                  inventory_2
                  </span></div>
                <div><a onclick="window.location.href='packages.html'"> Packages </a></div>
              </div>
  
  
              <div id="dropfive">
                <div id="spandiv"> <span class="material-icons">
                  local_activity
                  </span></div>
                <div><a onclick="window.location.href='Holiday.html'">Holiday activities</a></div>
              </div>
  
  
              <div id="belowicon">
                <div>
                  <a  onclick="window.location.href='deals.html'">Deals</a>
                  </div>
                  <div>
                    <a >Groups & Meetings </a>
                    </div>
                    <div>
                      <a >Mobile</a>
                      </div>
              </div>
            </div>
              </div>
  
      </div>
      <div id="navdiv2">
   
      
      <span id="righticon" class="material-icons">
        language
        </span>
        <a >English</a>   
        <a >Support
        </a>
        <a >Trips</a>
        <a  onclick="window.location.href='Signup.html'">Sign In</a>
      
      </div>
      
  
    </div>