<!-- <button class="about-view travel-btn" (click)="searchinit()">Search</button> -->
<!--packages start-->
<div *ngIf="!contentLoaded" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div *ngIf="contentLoaded">
    <section id="pack" class="packages">
        <div class="container">
            <div class="gallary-header text-center">
                <h2>
                    PACKAGE RESULT
                </h2>

            </div>
        </div>

    </section>

</div>