<!-- 
<button class="about-view travel-btn" (click)="hello()">Search</button>
 -->
<!--packages start-->
<!-- *ngIf="finalresult.activities.length>0" -->
<div *ngIf="contentloaded">
    <section id="pack" class="packages">
        <div class="container">
            <div class="gallary-header text-center">
                <h2>
                    Search Results
                </h2>
                
            </div><!--/.gallery-header-->
            <div class="packages-content">
                <div class="row">
                    <div *ngFor="let r of finalresult">
                        
                      
                    <div class="col-md-12 col-sm-6">
                        <div class="single-package-item">
                            <img src={{r.content.media.primaryImage.url}} alt="package-place">
                            <div class="single-package-item-txt">
                                <h3>{{r.name}}</h3>
                                <h5>{{r.content.location.address.city.name}} , {{r.content.location.address.state.name}} , {{r.content.location.address.countryCode}}</h5>
                                <div class="packages-para">
                                    <p>
                                        <span>
                                            <i class="fa fa-angle-right"></i> {{r.categories[0].name}}
                                        </span>
                                        <!-- <i class="fa fa-angle-right"></i>   -->
                                    </p>
                                    <p>
                                        <span>
                                            <i class="fa fa-angle-right"></i>  {{r.content.duration}}
                                        </span>
                                        <!-- <i class="fa fa-angle-right"></i>  food facilities -->
                                     </p>
                                     <p>
                                        <span>
                                            <i class="fa fa-angle-right"></i> {{r.content.rating}} rating
                                        </span>
                                        <!-- <i class="fa fa-angle-right"></i>  food facilities -->
                                     </p>
                                     <p>
                                        <span>
                                            <i class="fa fa-angle-right"></i>  {{r.content.reviewCount}} review
                                        </span>
                                        <!-- <i class="fa fa-angle-right"></i>  food facilities -->
                                     </p>
                                     <!-- <p>
                                        <span><i class="fa fa-angle-right"></i>Book at ${{r.displayFare.totalFareStartsFrom}}</span>
                                        
                                    </p> -->
                                </div><!--/.packages-para-->
                                <!-- <div class="packages-review">
                                    <p>
                                        <span><i class="fa fa-angle-right"></i>Book at ${{r.displayFare.totalFareStartsFrom}}</span>
                                         <span>{{r.content.reviewCount}} review</span> 
                                    </p>
                                </div> -->
                                <div class="about-btn"><button  class="about-view packages-btn">
                                    Book at ${{r.displayFare.totalFareStartsFrom}}
                                </button></div>
                                <div class="about-btn">
                                    
                                    <button  class="about-view packages-btn">
                                        book now
                                    </button>
                                </div><!--/.about-btn-->
                            </div><!--/.single-package-item-txt-->
                        </div><!--/.single-package-item-->
    
                    </div><!--/.col-->
                </div>
    
                    
    
                </div><!--/.row-->
            </div><!--/.packages-content-->
        </div><!--/.container-->
    
    </section><!--/.packages-->
    <!--packages end-->
    
    </div>